body{
      background:#95A5A6;
    }
body .well{

}

.demo-headline h1, h2{
      color:white;
    }

.demo-logo small{
      color:white;
    }

#logo{
      width: 200px;
      height: 200px;
      position: relative;
      bottom: 50px;
    }

#fb-login-btn{
    position: relative;
    bottom: 100px;
   }

#slogan{
      color:#27AE60;
      text-align: center;
  }

#logo-top{
  position: relative;
  left: 230px;
  bottom: 60px;
}

#home-tiles{
  position: relative;
  bottom: 240px;
}

#home{
  margin-top: 30px;
}

#lunch h1,img{
  display: inline-block;
}

#lunch h1{
  margin-left: 150px;

}

#lunch2 h1{
  margin-left: 250px;
  display: inline-block;

}

#lunch-second-row h1{
  display: inline;
  text-align: right;
}

#lunch-location{
  text-align: right;
}

#join{
  text-align: right;
}

#join a{
  color:white;
  text-decoration:none;
}

.circle {
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#e74c3c;
  /* width and height can be anything, as long as they're equal */
}

#circles-userprof {
  display: inline-block;
}

#lunch-heading{
  color: white;
  text-align:center;
}


.nav a{
  color: white;
  text-decoration: none;
}

#nav-pic{
  margin-left:200px;
  margin-right:100px;
}


#nav-center{
  color: #34495E;
  margin-left:100px;
  display:inline;
}

#nav-center li{
  display:inline;
}


#nav-logo{
  color: #34495E;
  margin-left:10px;
}

#nav-create{
  margin-left:350px;
  margin-right:50px;
  margin-bottom:30;
  
  color:white;
}

#nav-logout{
  margin-bottom:30px;
  color:white;
}

#nav-create a{
  color:white;
}

#nav-logout a{
  color:white;
}

#nav-logout a:hover{
  color:#E74C3C;
}


#nav-create a:hover{
  color:#E74C3C;
}


#firstc h1, img{
  display: inline;
}

#firstc h1{
  margin-left: 100px;
}

#secondc h3,p{
  display: inline;
    margin-left: 60px;
}

#person_pic{
  height: 65px;
  width: 65px;
  margin-top: 13px;
  margin-bottom: 5px;
}


#lunch-title{
  text-align:center;
  margin-bottom:20px;
}

#lunch-title a{
  text-decoration:none;
  color:#34495E;
}

#lunch-title a:hover{
  color:#E74C3C;
}

#lunch-location{
  text-align:center;
}

#people_going h3, img{
  display: inline;
}

#people_going img{
  width: 50px;
  height: 50px;
}

body .hero-unit{
  margin-top:20px;
}

#create-lunch{
  text-align: center;
}

#meal-form label{
  color:white;
}

#meal-form h1{
  color:white;
  text-align:center;
}

#public-check checkbox{
  display:none;
}