body{
      background: #27AE60;
    }

.demo-headline h1, h2{
      color:white;
    }

.demo-logo small{
      color:white;
    }

#logo{
      width: 200px;
      height: 200px;
      position: relative;
      bottom: 50px;
    }

#fb-login-btn{
    position: relative;
    bottom: 100px;
   }

    

#slogan{
      color:#27AE60;
      text-align: center;
  }

#logo-top{
  position: relative;
  left: 230px;
  bottom: 60px;
}

#home-tiles{
  position: relative;
  bottom: 240px;
}

#home{
  margin-top: 30px;
}

#lunch h1,img{
  display: inline-block;
}

#lunch h1{
  margin-left: 150px;

}

#lunch2 h1{
  margin-left: 250px;
  display: inline-block;

}

#lunch-second-row h1{
  display: inline;
  text-align: right;
}

#lunch-location{
  text-align: right;
}

#join{
  text-align: right;
}

.circle {
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  text-align:center;
  background:#e74c3c;
  /* width and height can be anything, as long as they're equal */
}

#circles-userprof {
  display: inline-block;
}

#lunch-heading{
  color: white;
}

.nav li{
  margin-left: 150px;
}

.nav a{
  color: white;
  text-decoration: none;
}

#rbtns{
  position: relative;
  top: 10px;
}

#firstc h1, img{
  display: inline;
}

#firstc h1{
  margin-left: 100px;
}

#secondc h3,p{
  display: inline;
    margin-left: 60px;
}

#person_pic{
  height: 65px;
  width: 65px;
  margin-top: 13px;
  margin-bottom: 5px;
}

#rbtns a{
  color: white;
  text-decoration: none;
}

#rbtns a:hover{
  color:black;
}

